.btn {
  border-radius: 20px;
  font-size: 0.8rem;
  background-color: #383b49;
  color: white;
  border: none;
  padding: 10px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 100px;
}

.btn > :first-child {
  margin-right: 10px;
}

.btn-primary {
  background-image: linear-gradient(#ed8770, #d9519d);
}

.btn-secondary {
  border: 1px solid #fff;
}
