.tile {
  min-width: 162px;
  min-height: 118px;
  background-repeat: no-repeat;
  background-size: 100% auto;
  color: var(--primary-text-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.description {
}

.tile-classical {
  background-image: url("../../assets/piano.png");
}
